/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to left, #e2a139, #f9d423);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coin-toss-card {
  background-color: #ffffff;
  background-size: cover;
  width: 40%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
}
@media screen and (min-width: 768px){
  .coin-toss-card{
    max-width: 500px;
    padding: 64px;
  }
}
.heading {
  color: #a35200;
  font-size: 32px;
  font-family: Roboto;
  font-weight: 600;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px){
  .heading{
    font-size: 48px;
    margin-bottom: 16px;
  }
}
.options {
  color: #334155;
  font-size: 16px;
  font-family: Roboto;
  margin-top: 8px;
}
@media screen and (min-width: 768px){
  .options{
    font-size: 24px;
    margin-bottom: 16px;
  }
}
.toss-coin-img {
  height: 140px;
  width: 140px;
}
@media screen and (min-width: 768px){
  .toss-coin-img{
    height: 250px;
    width: 250px;
  }
}
.button {
  background-color: #f9d423;
  color: #a35200;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 600;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: 0;
  margin-top: 16px;
  cursor: pointer;
}
@media screen and (min-width: 768px){
  .button{
    margin-top: 32px;
  }
}
.result-card {
  display: felx;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}
@media screen and (min-width: 768px){
  .result-card{
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px){
  .result-card{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
  }
}
.result {
  color: #475569;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  margin-left: 15px;
  margin-right: 15px;
}
